<h1>Takuya's Blogs</h1>

<p class="bg-primary">ブログ一覧</p>

<% @blogs.each do |blog| %>
  <div class="blog-panel">
    <div class="container">
      <ul class="row">
        <h2>Tiltle : <%= blog.title %></h2>
        <p class="bg-success">content : <%= blog.content %></p>
        
        <li class="col-sm-12">
          <p class="bg-info"><%= link_to 'Show', blog %></p>
        </li>
        <li class="col-sm-6">
          <p class="bg-warning"><%= link_to 'Edit', edit_blog_path(blog) %></p>
        </li>
        <li class="col-sm-6">
          <p class="bg-danger"><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></p>    
        </li>
      </ul>
    </div>
  </div>
<% end %>
