<h1>Takuya's Blogs</h1>

<h2><%= notice %></h2>

<p class="bg-primary">ブログ一覧</p>

<% @blogs.each do |blog| %>
  <div class="blog-panel">
    <div class="container">
      <ul class="row">
        <h2>タイトル : <%= blog.title %></h2>
        <p class="bg-success">内容 : <%= blog.content %></p>
        <p class="bg-success">投稿者 : <%= blog.user.name %></p>
        <% unless blog.image_url.nil? %>
          <p class="bg-success">画像 : <%= image_tag blog.image.url %></p>
        <% end %>
        <li class="col-md-12">
          <p class="bg-info"><%= link_to 'Show', blog %></p>
        </li>
        
        <% if current_user %>
          <% if blog.user_id == current_user.id %>
            <li class="col-md-6">
              <p class="bg-warning"><%= link_to 'Edit', edit_blog_path(blog) %></p>
            </li>
            <li class="col-md-6">
              <p class="bg-danger"><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></p>    
            </li>
          <% end %>
        <% end %>
        
      </ul>
    </div>
  </div>
<% end %>
