<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>

<p class="bg-primary">お気に入りブログ一覧</p>

<% @favorites_blogs.each do |blog| %>
  <div class="blog-panel">
    <div class="container">
      <ul class="row">
        <h2>Tiltle : <%= blog.title %></h2>
        <p class="bg-success">content : <%= blog.content %></p>
        <p class="bg-success">user_name : <%= blog.user.name %></p>
        <li class="col-md-12">
          <p class="bg-info"><%= link_to 'Show', blog %></p>
        </li>
      </ul>
    </div>
  </div>
<% end %>